* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100dvh;
    width: 100dvw;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    padding: 10px;
}



#container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border: 2px solid #000; 
}

/* Thicker border for specific cells */
/* Top border */

/* #cell-0-0, #cell-0-1, #cell-0-2, #cell-0-3, #cell-0-4, #cell-0-5, #cell-0-6, #cell-0-7, #cell-0-8 {
    border-top-width: 5px;
}

#cell-0-0, #cell-1-0, #cell-2-0, #cell-3-0, #cell-4-0, #cell-5-0, #cell-6-0, #cell-7-0, #cell-8-0 {
    border-left-width: 5px;
}

#cell-8-0, #cell-8-1, #cell-8-2, #cell-8-3, #cell-8-4, #cell-8-5, #cell-8-6, #cell-8-7, #cell-8-8 {
    border-bottom-width: 5px;
}

#cell-0-8, #cell-1-8, #cell-2-8, #cell-3-8, #cell-4-8, #cell-5-8, #cell-6-8, #cell-7-8, #cell-8-8 {
    border-right-width: 5px;
}

#cell-0-2, #cell-1-2, #cell-2-2, #cell-3-2, #cell-4-2, #cell-5-2, #cell-6-2, #cell-7-2, #cell-8-2 {
    border-right-width: 5px;
}

#cell-0-5, #cell-1-5, #cell-2-5, #cell-3-5, #cell-4-5, #cell-5-5, #cell-6-5, #cell-7-5, #cell-8-5 {
    border-right-width: 5px;
}

#cell-2-0, #cell-2-1, #cell-2-2, #cell-2-3, #cell-2-4, #cell-2-5, #cell-2-6, #cell-2-7, #cell-2-8 {
    border-bottom-width: 5px;
}

#cell-5-0, #cell-5-1, #cell-5-2, #cell-5-3, #cell-5-4, #cell-5-5, #cell-5-6, #cell-5-7, #cell-5-8 {
    border-bottom-width: 5px;
} */


.cell {
    width: 75px;
    height: 75px;
    background-color: #fff;
    padding: 10px;
    border: 1.5px solid #2e2e2e; 
    font-size: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    color: rgb(55, 89, 192); 
    font-weight: bold;
}

.cell[data-disabled='1'] {
    /* background-color: #ccc; */
    color: black;
    font-weight: normal;
}

.cell[data-is-selected='1'] {
    color: orange;
    background-color: #ddd;
    font-weight: normal;
}

.cell:hover,
.cell:focus {
    background-color: #ddd;
    outline: none;
}

#numberButtonsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 10px; */
    margin-top: 20px;
    border-radius: 5px;
    width:  100px;
    height:  100px;
}


.layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Number buttons container */
.buttons {
    margin-left: 20px; /* Adjust the margin as needed */
    display: flex;
    flex-direction: column;
}
