* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100dvh;
    width: 100dvw;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid #000;
    width: 40vw;
    aspect-ratio: 1;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid #000;
}

.cell {
    /* width: 75px;
    height: 75px; */
    background-color: #fff;
    padding: 10px;
    border: 1.5px solid #2e2e2e; 
    font-size: 2vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    color: rgb(55, 89, 192); 
    font-weight: bold;
}

.cell[data-disabled='1'] {
    color: black;
    font-weight: normal;
    background-color: #fefefe;
}

.cell[data-is-highlighted='1'] {
    background-color: rgb(146, 164, 146);
}

.cell[data-is-selected='1'] {
    color: orange;
    background-color: #ddd;
    font-weight: normal;
}

.cell:hover,
.cell:focus {
    background-color: #ddd;
    outline: none;
}

#right-container,
#options-container,
#numberButtonsContainer {
    outline: 1px solid orange;
}

#right-container {
    width: 30vw;
    margin-left: 1vw;
}

#options-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1vw;
}

.layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media (orientation: landscape) {
    
}